@model TradeUnionManageSystem.BLL.Models.ModelWorker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ModelWorker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingUnitCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingUnitCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingPositionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingPositionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelWorkderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelWorkderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelWorkerLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelWorkerLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryPerMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryPerMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaveAllowance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaveAllowance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaveMedicalTreatment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaveMedicalTreatment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
