@model TradeUnionManageSystem.BLL.Models.Honor

@{
    ViewBag.Title = "Details";
}

<h2>细节页面</h2>

<div>
    <h4>荣耀页面</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HonorTarget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HonorTarget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HonorLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HonorLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDeptCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDeptCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeJobCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeJobCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeUnitCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeUnitCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeGroupCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeGroupCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("点击编辑", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("返回列表", "Index")
</p>
